page-login {
 
  .login-content {
    background: #EAD1B1;
 
    .logo-row {
      text-align: center;
      align-items: center;
      margin-left: 15%;
      width: 70%;
    }
 
    .login-box {
      background: #E8CDAB;
      padding: 0px 20px 0px 20px;
      margin-top: 0px;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
     ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }
 
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }
 
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
 
     .submit-btn {
       background: #51CFB1;
       border-radius: 30px !important;
       border: 1px solid #ffffff;
     }
 
     .register-btn {
       color: #000000;
       font-size: 0.8em;
     }
  }
  .loader {
   /* width: 120px;
    height: 120px;*/
    animation: spin 3s linear infinite;
  }

  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
 
}